# Postgres del docker compose: 127.0.0.1:5437
POSTGRES_USER=beterahoy
POSTGRES_PASSWORD=beterahoy
POSTGRES_DB=beterahoy
DATABASE_URL="postgresql://beterahoy:beterahoy@127.0.0.1:5437/beterahoy"

NEXT_PUBLIC_SITE_URL="https://www.beterahoy.es"

# NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""

NEXTAUTH_SECRET="genera-un-secreto-largo-para-produccion"
NEXTAUTH_URL="https://www.beterahoy.es"

ADMIN_EMAILS=""

# NEWS_API_TOKEN=""
# EVENTS_API_TOKEN=""
